* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

nav {
	position: sticky;
	top: 0;
	display: flex;
	width: 100%;
	height: 4.5rem;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

nav > img {
	margin-left: 1rem;
	border-radius: 15px;
	width: 3.5rem;
	height: 3.5rem;
}

nav button {
	border: 0;
	height: 100%;
	width: 4.5rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	margin-left: 3rem;
	font-size: 1rem;
}

.nav-to-right {
	display: flex;
	height: 100%;
	width: 9rem;
	justify-content: center;
	align-items: center;
}

.nav-to-right img {
	width: 3.5rem;
}

.slider {
	margin: 0 auto;
	width: 100%;
	height: 350px;
	/* background-color: red; */
}

.slider div {
	width: 100%;
	height: 100%;
}
.slider div img {
	width: 100%;
	height: 100%;
}
.cool_title{
    position: absolute;
    top: 50%;
    color:white;
    margin-left: 6.7%;
}
.popular_galery{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.searching_places{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0px;
	background-color: #040e27;
	color: white;
}

#place_name , #country_code{
	margin-left: 20px;
	height: 30px;
	width: 150px;
	padding-left: 5px;
}


.searching_places button{
	height: 30px;
	width: 65px;
	border: 0;
	background-color: #ff4a52;
	color: white;
}




















