<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerFox Agency</title>
    <link rel="icon" href="../static/images/icon.png" type="image/gif">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/js/jquery/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../static/js/jquery/slick-1.8.1/slick/slick-theme.css">
</head>

<body>
    <header>
        <nav>
            <img src="../static/images/1.png">
            <ul class="navigation">
                <li>Home</li>
                <li>about</li>
                <li>ORDER</li>
            </ul>
            <div class="nav-to-right">
                <button>Sign in</button>
                <div><img src="../static/images/loupe.png"></div>
            </div>
        </nav>
    </header>
    <section>
        <div id="first_slider" class="slider">
            <div>
                <img src="../static/images/b1.jpg" />
                <h1 class="cool_title">Anglea</h1>
            </div>
            <div> <img src="../static/images/b2.jpg" /> </div>
            <div> <img src="../static/images/b3.jpg" /> </div>
        </div>
        <div class="searching_places">
        	<h1> Where do you want to go?</h1>
        	<form>
        		<input type="text" id="place_name" placeholder="Your destination">
        		<input type="text" id="country_code" placeholder="Country Code (optional)">
        		<button type="submit" id="search_submit">Search!</button>
        	</form>
        </div>
    </section>
    <script src="../static/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="../static/js/jquery/slick-1.8.1/slick/slick.min.js"></script>
    <script src="../static/js/slider.js"></script>
    <script src="../static/js/popular_locations.js"></script>
</body>

</html>