body {

}
.cont {
  padding: 3px 2px;
}

img {
  border-radius: 10px;
  margin: 0 25rem;
}

#testimonials {
  text-align: center;
  background-color: #004d4d;
  padding: 2rem 20rem;
  color: white;
}

.carousel-item {
  display: block;
  padding: 1rem 10rem;
  width: 10%;
  align-items: center;
}

.subtext {
    margin: 0 25rem;
    padding: 3rem 0 0;
}
